<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FactSheetAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FactSheetAnalyzer.Properties.Settings>
            <setting name="inputJson" serializeAs="String">
                <value>D:\Code\dvawebsitescraper\dvasitescraper\bin\Debug\allFactSheetData.json</value>
            </setting>
            <setting name="keywordsList" serializeAs="String">
                <value>keywordsList.txt</value>
            </setting>
        </FactSheetAnalyzer.Properties.Settings>
    </userSettings>
</configuration>